<div class="container-fluid">
<div *ngIf="successModal" class="alert alert-success alert-dismissible fade show" role="alert" id="modal">
    <strong>Congratulations!</strong> You have been signed up successfully
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="homePageRoute()"></button>
  </div>
</div>

<div *ngIf="noModal" class="flex-container">
    <div class="container">
        <div class="panel-heading">
            <h2 class="panel-title">New User Registration</h2>
        </div>
        <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
            <div class="panel panel-default">
                
                <div class="panel-body">
                    <div class="form-row">
                        
                        <label for="firstName">First Name:*</label>
                        <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name" [ngClass]="{'is-invalid': form.firstName.errors && (form.firstName.touched || form.firstName.dirty)}">
                        <div *ngIf="form.firstName.errors && (form.firstName.touched || form.firstName.dirty)" class="invalid-feedback">
                            <div *ngIf='form.firstName.errors.required'>*First Name is Required</div>    
                            <div *ngIf='form.firstName.errors.pattern'>*Please Enter a Valid First Name</div>
                        </div>
                        
                        
                        <label for="lastName">Last Name:*</label>
                        <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name" [ngClass]="{'is-invalid': form.lastName.errors && (form.lastName.touched || form.lastName.dirty)}">
                        <div *ngIf="form.lastName.errors && (form.lastName.touched || form.lastName.dirty)" class="invalid-feedback">
                            <div *ngIf='form.lastName.errors.required'>*Last Name is Required</div>
                            <div *ngIf='form.lastName.errors.pattern'>*Please Enter a Valid Last Name</div>
                        </div>
                        
                        
                        <label for="birthDate">Birthday:*</label>
                        <input type="date" formControlName="birthDate" class="form-control" id="birthDate" placeholder="yyyy-mm-dd" [ngClass]="{'is-invalid': form.birthDate.errors && (form.birthDate.touched || form.birthDate.dirty)}">
                        <div *ngIf="form.birthDate.errors && (form.birthDate.touched || form.birthDate.dirty)" class="invalid-feedback">
                            <div *ngIf='form.birthDate.errors.required'>*Birthday is Required</div>
                        </div>
                        
                        
                        <label for="email">Email Address:*</label>
                        <input type="email" formControlName="email" class="form-control" id="email" placeholder="yourAddress@email.com" [ngClass]="{'is-invalid': form.email.errors && (form.email.touched || form.email.dirty)}">
                        <div *ngIf="form.email.errors && (form.email.touched || form.email.dirty)" class="invalid-feedback">
                            <div *ngIf='form.email.errors.required'>*Email is Required</div>
                            <div *ngIf='form.email.errors.pattern'>*Please Enter a Valid Email Address</div>
                        </div>
                      
                        <div *ngIf="emailAlreadyTaken" class="alert alert-danger"> 
                            *This username already exists!
                        </div>
                    
                        
                            <label for="password">Password: (Password Details?) </label>
                            <input type="password" formControlName="password" class="form-control" id="password" [ngClass]="{ 'is-invalid': form.password.errors && (form.password.touched || form.password.dirty)}" placeholder="Password">
                            <div *ngIf="form.password.errors && (form.password.touched || form.password.dirty)" class="invalid-feedback">
                                <div *ngIf="form.password.errors.pattern">Password needs lowercase, uppercase, number, and symbol: 8 characters minimum</div>
                                <div *ngIf="form.password.errors.required">*Password is required</div>
                            </div> 

                            <label for="passwordConfirm">Password Confirm:</label>
                            <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm" [ngClass]="{ 'is-invalid': form.passwordConfirm.errors && (form.passwordConfirm.touched || form.passwordConfirm.dirty)}" placeholder="Confirm Password">
                            <div *ngIf="form.passwordConfirm.errors && (form.passwordConfirm.touched || form.passwordConfirm.dirty)" class="invalid-feedback">
                                <div *ngIf="form.passwordConfirm.errors.confirmedValidator">*Passwords do not match</div>
                                <div *ngIf="form.passwordConfirm.errors.required">*Please Confirm your Password</div>
                            </div>
                            
                            <label for="flexRadioDefault">Profile Status:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="publicStatus" [value]=true id="public" checked (change)="changeStatus($event)">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Public
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="publicStatus" [value]=false id="private" (change)="changeStatus($event)"> 
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Private
                                </label>
                              </div>
                            
                            <div *ngIf="formNotValid" class="formNotValid">
                                *Please enter all required fields before submitting
                            </div>  
                    </div>
                </div>
                
                    <div class="form-group">                 
                        <div class="form-row grid-container">
                            <button type="submit" class="btn btn-success">Register</button>
                            <button type="button" class="btn btn-warning" (click)="homePageRoute()">Cancel</button>  
                        </div>
                </div>
            </div>
          </form>
    </div>
</div>


