.container{
    border-style: solid; 
    border-width: 2px;
    border-color: rgb(245, 78, 78);
    padding-top: 1%;
    padding-bottom: 1%;
    /* border: medium groove rgb(228, 86, 86) */
}

.flex-container{
    padding-top: 2%;
    padding-bottom: 2%;
}

.panel-footer, .panel-heading{
    text-align: center;
}

h2{
    padding-bottom: 1%;
}

#btnSubmit{
    text-align: center;
    padding-top: 1%;
}