<header>
    <div class="flex-container">
        <div class="blackLogo">
            <img src="../../../assets/blackRunnerRemindLogo.JPG" alt="Logo" class="responsive" id="logo">
        </div>
    
        <div *ngIf="userLoggedIn">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="collapsed"
                    aria-label="Toggle navigation" (click)="collapse()">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                    <ul class="navbar-nav">
                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/race-results']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                                Race Results
                            </a>
                        </li>
                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/personal-records']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                                PR's
                            </a>
                        </li>
                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/supply-lists']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                            Supply Lists
                            </a>
                        </li>

                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/upcoming-races']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                            Race Calendar
                            </a>
                        </li>
                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/upcoming-races']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                            Find A Race
                            </a>
                        </li>
                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/race-shoes']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                            Race Shoes
                            </a>
                        </li>

                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/about']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                                About
                            </a>
                        </li>

                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/contact']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                                Goals
                            </a> 
                        </li>

                        <!-- <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/contact']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                                Training?
                            </a> 
                        </li> -->

                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/contact']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                                Contact?
                            </a> 
                        </li>

                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/profile']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                                Profile
                            </a> 
                        </li>

                        <!-- <li class="nav-item dropdown" ngbDropdown id="infoDropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" style="color: white" aria-haspopup="true" aria-expanded="false">Profile</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" a [routerLink]="['/profile']">View</a>
                                (click)="collapse()"
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" a [routerLink]="['/edit-profile']">Edit</a>
                            </div>
                        </li> -->

                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" a [routerLink]="['/login']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="logOut()">
                                Log Out
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>






