<footer id="footer" class="text-white-50">

    <div class="vaultLogo">
            <img src="../../../assets/vault-5013752_1280 (1).png" class="responsive">
    </div>

    <div class="container">
        <div class="footerContact">
            <p>
                <strong>The Race Vault</strong>
                <br>
                Email: theRaceVault@gmail.com
            </p>
        </div>
            
        <hr style="margin: 0 15%;">
            
        <div class="copyright">
            "To give anything less than your best, is to sacrifice the gift."
            <br>
            --Steve Prefontaine
            <br>
            © 2021 The Race Vault
        </div>
    </div>
</footer>
