<footer id="footer" class="text-white-50">

    <div class="flex-container">
        <div class="container">

        <div class="row" id="row1">
            <div class="col">
                <img src="../../../assets/sky_header_small.jpg" class="responsive" id="smallLogo">
            </div>
        </div>

        <div class="quote">
            "To give anything less than your best, is to sacrifice the gift."
            <br>
            --Steve Prefontaine
            <br>    
        </div>
            
        <hr style="margin: 0 15%;">
            
        <div class="copyright">
            <strong>Runner Remind</strong>
            <br>
            <strong>Email: </strong>runnerRemind@gmail.com
            <br>
            © 2021
        </div>
    </div>
    </div>
</footer>
