<footer id="footer" class="text-white-50">

    <!-- <div id="design-block"></div> -->

    <div  id="crossLogo">
        <!-- add social media href to actual links-->
        <div class="crossLogo">
            <img src="../../../assets/raceVaultLogo2.svg">
        </div>
    </div>

    <div class="container text-center">
        <div class="footerContact">
            <p>
                <strong>Bethel House of Worship Prayer Line Altar</strong>
                <br>
                Access Number: <a href="tel:+1-717-275-8940" style="color:white;"><u>(717) 275-8940</u></a>
                <br>
                Pin #: 1039374 or 5954411
                <br>
                Email: bethel2029@gmail.com
            </p>
        </div>
            
        <hr style="margin: 0 15%; border-top-color: white;">
            
        <div class="prayerSchedule">
            <p>
                <strong><u>Prayer Schedule</u></strong>
                <br>
                Sunday: 10:00 PM – 11:15 PM (Prayer of Thanksgiving and Blessings)
                <br>
                Wednesday: 10:00 PM – 11:15 PM (Prayer Over the Kingdom of Darkness)
                <br>
                Friday: 10:00 PM 11:15 PM (Holy Ghost Prayer and Speaking in Tongues)
            </p>
            © 2020 Bethel House of Worship
        </div>
    </div>
</footer>
