#footer {
    /* padding-top: 0; */
    /* margin-top: auto; */
    /* position: relative; */
    /* max-width: 100%;
    max-height: auto; */
    width: 100%;
    color: white;
    background: #121212;
}

.container{
    color: white;
    text-align: center;
}

#row1{
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

/* #design-block {
    background-image: linear-gradient(white,  #422da3);
    max-width: 100%;
    height: 4vh;
} */

/* .vaultLogo{ */
    /* text-align: center; */
    /* padding-top: 1.25%;
    display: flex;
    justify-content: space-around;
    max-width: 50%; */
    /* padding-left: 50%; */
/* } */

#smallLogo{
    max-width: 50%;
    height: auto;
    /* text-align: center;
    display: flex;
    justify-content: space-around; */
}



img{
    max-width: 100%;
    height: auto;
}

.copyright{
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}

 hr{
     color: white;
 }

 