#footer {
    /* padding-top: 0; */
    /* margin-top: auto; */
    /* position: relative; */
    max-width: 100%;
    max-height: auto;
    color: white;
   background: #121212;
}

/* #design-block {
    background-image: linear-gradient(white,  #422da3);
    max-width: 100%;
    height: 4vh;
} */

.vaultLogo{
    text-align: center;
    padding-top: 1.25%;
    display: flex;
    justify-content: space-around;
    /* padding-left: 50%; */
}

.img{
    height: 20%;
}

.copyright{
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}

 hr{
     color: white;
 }

 .container{
     color: white;
     text-align: center;
 }