<header>
    <div class="flex-container">
       
            
            <span class="navbar-brand">
                <a [routerLink]="['/']">
                    <img src="../../../assets/roadHeader.jpg" id="logo">
                </a>
                <!-- <a [routerLink]="['/']">
                    <div class="title">
                       Race Rewind 
                    </div>
                </a> -->
            </span>

        
                
            

            <!-- <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="collapsed"
                aria-label="Toggle navigation" (click)="collapse()">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            

        <!-- <div id="design-block"> -->
            <span class = "aligner">
            <nav class="navbar navbar-expand-md navbar-light">

            <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['/personal-records']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                            PR's |
                        </a>
                    </li>

                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['/supply-lists']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                           Supply Lists |
                        </a>
                    </li>

                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['/upcoming-races']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                           Upcoming Races |  
                        </a>
                    </li>

                     <!-- <li class="nav-item dropdown" ngbDropdown id="infoDropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" style="color: white" aria-haspopup="true" aria-expanded="false">Upcoming Races</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" a [routerLink]="['/testimonials']" (click)="collapse()">Registered Races</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" a [routerLink]="['/add-testimonial']"(click)="collapse()">Tentative Races</a>
                        </div>
                    </li> -->

                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['/upcoming-races']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                           Find A Race |  
                        </a>
                    </li>

                    <!-- <li class="nav-item dropdown" ngbDropdown id="infoDropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" style="color: white" aria-haspopup="true" aria-expanded="false">Prayers</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" a [routerLink]="['/view-prayer-requests']"(click)="collapse()">Pray for Others</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" a [routerLink]="['/prayer-request']"(click)="collapse()">Request a Prayer</a>
                        </div>
                    </li> -->

                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['/race-shoes']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                           Race Shoes |
                        </a>
                    </li>

                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['/about']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                            About |
                        </a>
                    </li>

                    <li class="nav-item" ngbDropdown placement="bottom-right">
                        <a class="nav-link" a [routerLink]="['/contact']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="collapse()">
                            Contact |
                        </a> 
                    </li>

                    <li *ngIf="userLoggedIn" class="nav-item" ngbDropdown>
                        <a class="nav-link" a [routerLink]="['/login']" routerLinkActive="router-link-active" style="color:white"  role="button" (click)="logOut()">
                            Log Out  
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </span>
    </div>
</header>
