#logo{
    max-width: 65%;
    height: auto;
    /* padding-left: 25%; 
    padding-right: 10%; */
}
.blackLogo{
    background: #121212;
    text-align: center;
}

/* .navbar{
    justify-content: center;
    text-align: center;
} */

/* header {
    background-color: #170664;
} */

/* .title{
    color: white;
    font-size: 21pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* #title-description{
    font-size: 13pt;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* li{
    font-size: 15pt;
    text-align: center;
    padding-right: 4%;
} */

/* #design-block {
    background-image: linear-gradient( #170664, white);
    max-width: 100%;
    height: 4vh;
} */

#navbarContent{
    /* text-align: center; */
    padding-right: 1.5%;
}

.navbar{
    justify-content: center;
    display: flex;
    justify-content: space-around;
}
/*
.nav-item{
    text-align: center;
}

.navbar-nav{
    text-align: center;
}

.aligner{
    text-align: center;
} */

/* #nav {
    position: relative;
    left: 0px;
    height: 40px;
    background-color: #2C64B4;
    width: 100%;
    margin: 0 auto;
 }  */

 /* #nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
} */

/* #nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
} */

/* #nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #FFF;
    text-align: center;
}


#navbar {
    position: relative;
    left: 0px;
    height: 40px;
    background-color: #2C64B4;
    width: 100%;
    display: flex;
    justify-content: center;
}  */