<div class="d-flex" id="wrapper">

    <!-- The sidebar -->
<div class="sidebar">
    <div class="sidebarNoLists" *ngIf="noSupplyLists else displayLists">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <!-- <th>{{user.firstName}}'s Lists</th> -->
                    <th class="tableHeader">User's Lists</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>You currently have no Lists</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #displayLists>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <!-- <th>{{user.firstName}}'s Lists</th> -->
                    <th class="tableHeader">User's Lists</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of userLists">
                    <td><a [routerLink]="['/view-list', list.id]">{{list.listDescription}}</a></td>
                </tr>
            </tbody>
        </table>
    </ng-template>
  </div>



<div class="container">
    <h2>Create a New List:</h2>

    <div class="form" *ngIf="listNotCreated">
        <form [formGroup]="newListForm" (ngSubmit)="onSubmit()">
            <div class="title">
                <label for="listName">Enter the name or description of a new Supply List:</label>
                <input id="listName" formControlName="listName" type="listName" class="form-control" placeholder="Name or Description" [ngClass]="{'is-invalid': form.listName.errors && (form.listName.touched || form.listName.dirty)}" >
                <div *ngIf="form.listName.errors && (form.listName.touched || form.listName.dirty)" class="invalid-feedback">
                    <div *ngIf='form.listName.errors.required'>*Supply List Name is Required</div>
                </div>
            </div>

            <div class="listExists" *ngIf="listExists">
                *This list already exists.  To edit the {{listName}}, go back to the Supply List page.
            </div>
        
            <div class="listExists" *ngIf="invalidForm">
                *Please Enter a List Name or Description
            </div>
            <div class="createListBtn">
                <button type="submit" class="btn btn-success" (click)="submitListName()">Create List</button>
                <span id="cancelBtn"><button class="btn btn-warning" (click)="listsHomeRoute()">Cancel</button></span>
            </div>
        </form>
    </div>

    

    <div class="showGif" *ngIf="showGif">
        <img src="../../../assets/ChecklistGif.gif" class="responsive">
    </div>
</div>
