<div class="d-flex" id="wrapper">

    <!-- The sidebar -->
    <div *ngIf="isMobileResolution else nonMobileSidebar">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" [class.collapse]="collapsed">
            <div class="sidebar">
                <div class="sidebarNoLists" *ngIf="noSupplyLists else displayLists">
                    <div class="offcanvas-header">
                        <h2 class="offcanvas-title" id="offcanvasExampleLabel">User's Lists</h2> <!-- {{user.firstName}}'s List's -->
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <hr>
                    <div class="offcanvas-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>You currently have no Lists</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <ng-template #displayLists>
                    <div class="offcanvas-header">
                        <h2 class="offcanvas-title" id="offcanvasExampleLabel">User's Lists</h2> <!-- {{user.firstName}}'s List's -->
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <hr>
                    <div class="offcanvas-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr *ngFor="let list of userLists">
                                    <td><a [routerLink]="['/view-list', list.id]">{{list.listDescription}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <ng-template #nonMobileSidebar>
        <div class="sidebar">
            <div *ngIf="noSupplyLists else displayLists" class="sidebarNoLists" >
                <div class="tableHeader">
                    User's Lists
                    <!-- {{user.firstName}}'s List's -->
                </div>
                <hr id="titleBreak">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>You currently have no Lists</td>
                        </tr>
                    </tbody>
                </table>  
            </div>

            <ng-template #displayLists>
                <div class="tableHeader" id="tableTitle">
                    User's Lists
                    <!-- {{user.firstName}}'s List's -->
                </div>
                <hr id="titleBreak">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr *ngFor="let list of userLists">
                            <td><a [routerLink]="['/view-list', list.id]">{{list.listDescription}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </ng-template>

    <!-- Non-Sidebar -->
    <div *ngIf="isMobileResolution else nonMobile">
        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="bi bi-justify"></i>
        </button>

        <div class="container">
            <h2>Create a New List:</h2>

            <div class="form" *ngIf="listNotCreated">
                <form [formGroup]="newListForm" (ngSubmit)="onSubmit()">
                    <div class="title">
                        <label for="listName">Enter the name or description of a new Supply List:</label>
                        <input id="listName" formControlName="listName" type="listName" class="form-control" placeholder="Name or Description" [ngClass]="{'is-invalid': form.listName.errors && (form.listName.touched || form.listName.dirty)}" >
                        <div *ngIf="form.listName.errors && (form.listName.touched || form.listName.dirty)" class="invalid-feedback">
                            <div *ngIf='form.listName.errors.required'>*Supply List Name is Required</div>
                        </div>
                    </div>

                    <div class="listExists" *ngIf="listExists">
                        *This list already exists.  To edit the {{listName}}, go back to the Supply List page.
                    </div>
                
                    <div class="listExists" *ngIf="invalidForm">
                        *Please Enter a List Name or Description
                    </div>
                    <div class="createListBtn">
                        <button type="submit" class="btn btn-success" (click)="submitListName()">Create List</button>
                        <span id="cancelBtn"><button class="btn btn-warning" (click)="listsHomeRoute()">Cancel</button></span>
                    </div>
                </form>
            </div>

            <div class="showGif" *ngIf="showGif">
                <img src="../../../assets/ChecklistGif.gif" class="responsive">
            </div>
        </div>
    </div>

    <ng-template #nonMobile>
        <div class="container">
            <h2>Create a New List:</h2>

            <div class="form" *ngIf="listNotCreated">
                <form [formGroup]="newListForm" (ngSubmit)="onSubmit()">
                    <div class="title">
                        <label for="listName">Enter the name or description of a new Supply List:</label>
                        <input id="listName" formControlName="listName" type="listName" class="form-control" placeholder="Name or Description" [ngClass]="{'is-invalid': form.listName.errors && (form.listName.touched || form.listName.dirty)}" >
                        <div *ngIf="form.listName.errors && (form.listName.touched || form.listName.dirty)" class="invalid-feedback">
                            <div *ngIf='form.listName.errors.required'>*Supply List Name is Required</div>
                        </div>
                    </div>

                    <div class="listExists" *ngIf="listExists">
                        *This list already exists.  To edit the {{listName}}, go back to the Supply List page.
                    </div>
                
                    <div class="listExists" *ngIf="invalidForm">
                        *Please Enter a List Name or Description
                    </div>
                    <div class="createListBtn">
                        <button type="submit" class="btn btn-success" (click)="submitListName()">Create List</button>
                        <span id="cancelBtn"><button class="btn btn-warning" (click)="listsHomeRoute()">Cancel</button></span>
                    </div>
                </form>
            </div>

            <div class="showGif" *ngIf="showGif">
                <img src="../../../assets/ChecklistGif.gif" class="responsive">
            </div>
        </div>
    </ng-template>
