<div class="flex-container">
    <div class="card w-50 p-3 mx-auto">
        <div class="card-header">
        User Profile:
        </div>
        <div class="card-body">
           

            <div class ="row">
                <div class= "col-md-3">
                    <u><strong>Name:</strong></u>
                </div>
                <div class= "col-md-3">
                    {{user.firstName}} {{user.lastName}}
                </div>
            </div>

            <div class ="row">
                <div class= "col-md-3">
                    <u><strong>Birthday:</strong></u>
                </div>
                <div class= "col-md-3">
                    {{user.birthday | date:'mediumDate'}}
                </div>
            </div>
            
            <div class ="row">
                <div class= "col-md-3">
                    <u><strong>Username/Email:</strong></u>
                </div>
                <div class= "col-md-3">
                    {{user.email}}
                </div>
            </div>

            <div class ="row">
                <div class= "col-md-3">
                    <u><strong>City:</strong></u>
                </div>
                <div class= "col-md-3">
                    {{user.locationCity}}
                </div>
            </div>

            <div class ="row">
                <div class= "col-md-3">
                    <u><strong>State:</strong></u>
                </div>
                <div class= "col-md-3">
                    {{user.locationState}}
                </div>
            </div>

            <div class ="row">
                <div class= "col-md-3">
                    <u><strong>Country:</strong></u>
                </div>
                <div class= "col-md-3">
                    {{user.locationCountry}}
                </div>
            </div>

            <div class ="row">
                <div class= "col-md-3">
                    <u><strong>Gender:</strong></u>
                </div>
                <div class= "col-md-3">
                    {{user.gender}}
                </div>
            </div>

            <div class = "row" id="bottomRow">
                <div class= "col-md-3">
                    <u><strong>Profile Status:</strong></u>
                </div>
                <div class= "col-md-3">
                    {{user.profileStatus}}
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-md-3">
                    <div id="editProfBtn">
                        <a [routerLink]="['/edit-profile', user.id]" type="button" class="btn btn-info ">Edit Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="editLoginBtn">
                        <a [routerLink]="['/edit-login', user.id]" type="button" class="btn btn-info">Edit Login</a>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

