.container{
    display: flex;
    font-size: 13pt;
    /* padding-top: 4%;
    padding-bottom: 4%; */
    justify-content: center;
    /* max-width: 80%; */
}

.title{
    color: #000000;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 3%;
}

.form-group{
    align-self: center;
    border: 1px solid #ffffff;
    padding: 5%;
    color: white;
}

#btnSubmit{
    padding-top: 3%;
    text-align: center;
}

#username{
    width:100%;
}

#password{
    width:100%;
}

.alert-danger{
    text-align: center;
}

#loginError{
    padding-top: 3%;
    font-weight: bold;
}

#row1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

#row2{
    padding-bottom: 2%;
}

.loginBackground{
    background-image: url("../../../assets/road-2371503_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 2%;
}

.errorMessage{
    font-weight: bolder;
    color: white
}

#signup{
    text-align: center;
}
