/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: static;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  /* .sidebar a { */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  /* .sidebar a.active { */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  /* .sidebar a:hover:not(.active) { */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    .container {
      width: 100%;
   }
   #renameListBtn{
     padding-left: 0%;
   }
   .addItemBtn{
     margin-top: 2%;
     margin-bottom: 2%;
     margin-left: 20%;
   } 
   .dropdown{
    margin-left: 20%;
    margin-bottom: 5%;
   }
  .faviconCrudBtns{
   width: 100%;
  }
  .itemOptBtn{
    display: inline-block;
    width: 33%;
    /* width: 33% if three items */
    text-align: center;
  }
}
   

/* .itemOptBtn{
  text-align: right;
} */
   /* #editItemBtn{
    text-align: right;
    color: green
   } */
  /* } */
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  /* @media screen and (max-width: 400px) {
    .sidebar td {
      text-align: center;
      float: none;
    }
} */


/* Non Sidebar elements */

.tableHeader{
  font-size: x-large;
  font-weight: bold;
}

#tableTitle{
  padding-top: 2.5%;
  font-size: x-large;
  font-weight: bold;
  padding-left: 5%;
}

#titleBreak{
  margin-left: auto;
  margin-right: auto;
  height: 2px;
}

.headerWrapper{
  padding-top: 2%;
}


.listTitle{
    padding-top: 2%;
    font-size: large;
}

.title{
  display: inline-block;
}

.bi-justify{
  font-size: 1.5rem;
}

/* .editBtn{
    padding-top: 2%;
} */

.itemExists, .blankItem{
    color: red;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.inputForm{
  padding-top: 2%;
}

#itemCrudBtn{
  padding-right: 0.5%;
}

/* .itemOptBtn{
  margin-left: auto;
  margin-right: 0;
  color: #04AA6D;
} */

.strikethru{
  text-decoration: line-through;
}

#cancelBtn{
  padding-left: 1.5%;
}

.itemsDisplay{
  padding-bottom: 4%;
  /* max-width: 65%; */
}

.closeModalBtn{
  padding-left: 10%;
}

.closeEditBtn{
  padding-left: 10%;
}

.addItemInputBox{
  padding-left: 0.5%;
}

.faviconCrudBtns{
  width: 100%;
 }
 .itemOptBtn{
   display: inline-block;
   width: 33%;
   /* width: 33% if three items */
   text-align: center;
 }
 .itemDisplayed, i{
   cursor:pointer;
 }

/* #itemInList{
  display: inline-block;
} */


@media screen and (min-width: 769px) {
  .container {
     width: 60%;
  }
  #dropdownBtn{
    padding-left: 15%;
  }
  #renameListBtn{
    padding-left: 5%;
  }
  .addItemBtn{
    padding-top: 0.5%;
  }  
}


