<div class="d-flex" id="wrapper">

<!-- The sidebar -->
<div *ngIf="isMobileResolution else nonMobileSidebar">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="sidebar">
            <div *ngIf="noSupplyLists else displayLists" class="sidebarNoLists">
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title" id="offcanvasExampleLabel">User's Lists</h2> <!-- {{user.firstName}}'s List's -->
                    <span id="renameListBtn"><button class="button btn-sm" (click)="renameList(listToDisplay.id, listToDisplay.listDescription)">Rename a List</button></span>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <hr>
                <div class="offcanvas-body">
                    <table class="table table-striped table-bordered">
                        
                        <tbody>
                            <tr *ngFor="let list of userLists">
                                <td (click)="showNewList(list.id)">{{list.listDescription}}</td>
                            </tr>
                            <tr>
                                <!-- <td><a [routerLink]="['/new-list']">Add New List</a></td> -->
                                <td (click)="newListPath()">+ Add New List</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <ng-template #displayLists>
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title" id="offcanvasExampleLabel">User's Lists</h2> <!-- {{user.firstName}}'s List's -->
                    <span id="renameListBtn"><button class="button btn-sm" (click)="renameList(listToDisplay.id, listToDisplay.listDescription)">Rename a List</button></span>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <hr>
                <div class="offcanvas-body">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr *ngFor="let list of userLists">
                                <td><a [routerLink]="['/view-list', list.id]">{{list.listDescription}}</a></td>
                            </tr>
                            <tr>
                                <td><a [routerLink]="['/new-list']">+ Add New List</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #nonMobileSidebar>
    <div class="sidebar">
        <div *ngIf="noSupplyLists else displayLists" class="sidebarNoLists" >
            <div class="tableHeader">
                User's Lists
                <!-- {{user.firstName}}'s List's -->
            </div>
            <hr id="titleBreak">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td><a [routerLink]="['/new-list']">Add New List</a></td>
                    </tr>
                </tbody>
            </table>  
        </div>

        <ng-template #displayLists>
            <div class="tableHeader" id="tableTitle">
                User's Lists
                <!-- {{user.firstName}}'s List's -->
            </div>
            <hr id="titleBreak">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr *ngFor="let list of userLists">
                            <td><a [routerLink]="['/view-list', list.id]">{{list.listDescription}}</a></td>
                        </tr>
                        <tr>
                            <td><a [routerLink]="['/new-list']">Add New List</a></td>
                        </tr>
                    </tbody>
                </table>
        </ng-template>
    </div>
</ng-template>

<!-- //////////////////////////Main Page//////////////////////////////// -->

<div *ngIf="isMobileResolution else nonMobile">
    <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="bi bi-justify"></i>
    </button>


    <div class="container">
        <div class="row flexibleRow">
                            
            <div class="headerWrapper">
                <div class="title">
                    <h2>{{listToDisplay.listDescription}} </h2>
                </div>
            

                <div class="title" id="dropdownBtn">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="listOptionsButton" data-bs-toggle="dropdown" aria-expanded="false">
                        List Options
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="listOptionsButton">
                            <li><button class="dropdown-item" (click)="activateAddItem()">Add Item(s)</button></li>
                            <li><button class="dropdown-item" (click)="unstrikeAllItems(listToDisplay.id)">Uncheck All Items</button></li>
                            <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteAllItemsOn()">Clear List</button></li>
                        </ul>
                    </div>   
                </div>
            </div>

            <div *ngIf="inAddItem">
                <label for="newItem">New Item:</label>
                <span class="addItemInputBox"><input type="text" #box onfocus="this.value=''" value ="Item to Add"> </span>
                <div class="itemExists" *ngIf="itemExists">
                    *{{newItem}} already exists in your list.
                </div>
                <div class="itemExists" *ngIf="noItemGiven">
                    *Please enter a valid Item.
                </div>
                <!-- <div class="itemExists" *ngIf="notValidItem">
                    *Please enter a valid Item.
                </div> -->
                <div class="addItemBtn">
                    <span><button (click)="addNewItem(box.value)" class="btn btn-success">Add Item</button></span>
                    <span class="closeEditBtn"><button type="button" class="btn btn-warning" (click)="closeEdit()">Close</button></span>
                </div>
            </div>

            <!-- <div *ngIf="inAddItem">
                <form [formGroup]="newItemForm" (ngSubmit)="onSubmit()">
                    <div class="inputForm">
                        <label for="newItem">New Item:</label> 
                        <input id="newItemName" formControlName="newItemName" type="text" class="form-control" placeholder="Item to Add" [ngClass]="{'is-invalid': form.newItemName.errors && (form.newItemName.touched || form.newItemName.dirty)}" >
                        <div *ngIf="form.newItemName.errors && (form.newItemName.touched || form.newItemName.dirty)" class="invalid-feedback">
                            <div *ngIf='form.newItemName.errors.required'>*An Item to Add is Required</div>
                        </div>
                        <div class="itemExists" *ngIf="itemExists">
                            *{{newItem}} already exists in your list.
                        </div>
                    </div>
                    <div class="addItemBtn">
                        <span><button type="submit" class="btn btn-success">Add Item</button></span>
                        <span class="closeEditBtn"><button type="button" class="btn btn-warning" (click)="closeEdit()">Close</button></span>
                    </div>
                </form>
            </div> -->
        
                
            <div class="itemsDisplay">
                <div class="listTitle">
                    Items in List:
                </div>
                <ul class="list-group">
                    <li *ngFor="let item of displayItems; let i = index" class="list-group-item" [ngClass]="listToDisplay.items[i].strikethru ? 'strikethru' : 'null'">
                    
                        
                        <div class="row">
                            <!-- To make the actual item clickable and edited -->
                            <div class="col-8">
                                <div class="itemDisplayed" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)">{{item}}</div>
                            </div>

                            <div class="col-4">
                                <div class="faviconCrudBtns">
                                    
                                    <span *ngIf="!listToDisplay.items[i].strikethru" class="itemOptBtn" id="itemCrudBtn" ><i class="bi bi-square" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"></i></span>
                                    <span *ngIf="listToDisplay.items[i].strikethru" class="itemOptBtn" id="itemCrudBtn"><i class="bi bi-check2-square" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"></i></span>
                                    
                                    <!-- <span class="itemOptBtn" id="itemCrudBtn" ><i class="bi bi-check-lg" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"></i></span> -->
                                    <!-- <span class="itemCrudBtn" ><button (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"><i class="far fa-check-square fa-fw"></i></button></span> -->
                                    
                                    
                                    <!-- <span class="itemOptBtn" id="itemCrudBtn"><button data-bs-toggle="modal" data-bs-target="#editModal" (click)="editItemOn(listToDisplay.items[i].itemDescription)"><i class="bi bi-pencil" ></i></button></span>  (click)="editItem(listToDisplay.items[i].itemDescription)" -->
                                    <span class="itemOptBtn" id="itemCrudBtn"><i data-bs-toggle="modal" data-bs-target="#editModal" class="bi bi-pencil" (click)="editItemOn(listToDisplay.items[i].itemDescription)"></i></span>  <!-- (click)="editItem(listToDisplay.items[i].itemDescription)" -->

                                    <span class="itemOptBtn" id="itemCrudBtn"><i data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteItemOn(listToDisplay.id, listToDisplay.items[i].id, listToDisplay.items[i].itemDescription)" class="bi bi-trash"></i></span>
                                    <!-- <span class="itemCrudBtn"><button (click)="deleteItem(listToDisplay.id, listToDisplay.items[i].id)"><i class="far fa-trash-alt fa-fw"></i></button></span> -->
                                </div>
                            </div>
                        </div>
                
                    </li>
                </ul>
            </div>

        
    <!-- Modal for deleting items-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel"><strong>Warning!</strong></h5>
            <button *ngIf="deleteAllItems" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="deleteAllItemsOff()"></button>
            <button *ngIf="justDeleteItem" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="deleteItemOff()"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="deleteAllItems" class="mb-3">
                    You are about to clear all the items out of this list! Do you wish to proceed?
                </div>
                <div *ngIf="justDeleteItem" class="mb-3">
                    You are about to remove "{{itemDescriptionToDisplay}}" out of the list! Do you wish to remove it?
                </div>
                <div *ngIf="deleteAllItems" class="modalBtns">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearItems(listToDisplay.id)">Clear List</button>
                    <span class="closeModalBtn"><button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button></span>
                </div>
                <div *ngIf="justDeleteItem" class="modalBtns">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteItem()">Remove</button>
                    <span class="closeModalBtn"><button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="deleteItemOff()">Cancel</button></span>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal for editing an item-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-danger" id="editModalLabel"><strong>Edit Item</strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="inEdit" class="mb-3">
                    <label for="newItemName" class="col-form-label">Edit:</label>
                    {{itemToEditDescription}}
                    <input type="text" class="form-control" id="newItemName">
                    <form [formGroup]="newItemForm" (ngSubmit)="editSubmit()">
                        <div class="inputForm">
                            <label for="newItem">List Item to Edit:</label>
                            Enter the Item to add to the Supply List:
                            
                            <input id="newItemName" formControlName="newItemName" type="text" class="form-control" placeholder="Item to Add" [ngClass]="{'is-invalid': form.newItemName.errors && (form.newItemName.touched || form.newItemName.dirty)}" >
                            <div *ngIf="form.newItemName.errors && (form.newItemName.touched || form.newItemName.dirty)" class="invalid-feedback">
                                <div *ngIf='form.newItemName.errors.required'>*An Item to Add is Required</div>
                            </div>
                            <input id="editItemName" formControlName="editItemName" type="text" class="form-control" [ngClass]="{'is-invalid': form.editItemName.errors && (form.editItemName.touched || form.editItemName.dirty)}" >
                            <div *ngIf="form.editItemName.errors && (form.editItemName.touched || form.editItemName.dirty)" class="invalid-feedback">
                                <div *ngIf='form.editItemName.errors.required'>*An Item is Required</div>
                            </div>
                            <div class="itemExists" *ngIf="itemExists">
                                *{{newItem}} already exists in your list.
                            </div>
                        </div>
                        <div class="addItemBtn">
                            <span><button type="submit" class="btn btn-success" data-bs-dismiss="modal">Edit Item</button></span>
                            <span class="closeEditBtn"><button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="closeEdit()">Cancel</button></span>
                        </div>
                    </form>

                </div>
                <div class="modalBtns">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Update</button>
                    <span class="closeModalBtn"><button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button></span>
                </div>
             </div>
        </div>
        </div>
    </div>



                <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
            
                <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    This is example from ItSolutionStuff.com
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                </div>
                </ng-template> -->
        </div>
    </div>
</div>

<ng-template #nonMobile>
    <div class="container">
        <div class="row flexibleRow">
            <div class="headerWrapper">
                <div class="title">
                    <h2>{{listToDisplay.listDescription}} </h2>
                </div>
            

                <div class="title" id="dropdownBtn">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="listOptionsButton" data-bs-toggle="dropdown" aria-expanded="false">
                        List Options
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="listOptionsButton">
                            <li><button class="dropdown-item" (click)="activateAddItem()">Add Item(s)</button></li>
                            <li><button class="dropdown-item" (click)="unstrikeAllItems(listToDisplay.id)">Uncheck All Items</button></li>
                            <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteAllItemsOn()">Clear List</button></li>
                            <!-- <li><hr class="dropdown-divider"></li> -->
                        
                        </ul>
                    </div>   
                </div>
            </div>

            <div *ngIf="inAddItem">
                <label for="newItem">New Item:</label>
                <span class="addItemInputBox"><input type="text" #box  onfocus="this.value=''" value ="Item to Add"> </span>
                <div class="itemExists" *ngIf="itemExists">
                    *{{newItem}} already exists in your list.
                </div>
                <div class="itemExists" *ngIf="noItemGiven">
                    *Please enter a valid Item.
                </div>
                <!-- <div class="itemExists" *ngIf="notValidItem">
                    *Please enter a valid Item.
                </div> -->
                <div class="addItemBtn">
                    <span><button (click)="addNewItem(box.value)" class="btn btn-success">Add Item</button></span>
                    <span class="closeEditBtn"><button type="button" class="btn btn-warning" (click)="closeEdit()">Close</button></span>
                </div>
            </div>

            <!-- <div *ngIf="inAddItem">
                <form [formGroup]="newItemForm" (ngSubmit)="onSubmit()">
                    <div class="inputForm">
                        <label for="newItem">New Item:</label>
                        <input id="newItemName" formControlName="newItemName" type="text" class="form-control" placeholder="Item to Add" [ngClass]="{'is-invalid': form.newItemName.errors && (form.newItemName.touched || form.newItemName.dirty)}" >
                        <div *ngIf="form.newItemName.errors && (form.newItemName.touched || form.newItemName.dirty)" class="invalid-feedback">
                            <div *ngIf='form.newItemName.errors.required'>*An Item to Add is Required</div>
                        </div>
                        <div class="itemExists" *ngIf="itemExists">
                            *{{newItem}} already exists in your list.
                        </div>
                    </div>
                    <div class="addItemBtn">
                        <span><button type="submit" class="btn btn-success">Add Item</button></span>
                        <span class="closeEditBtn"><button type="button" class="btn btn-warning" (click)="closeEdit()">Close</button></span>
                    </div>
                </form>
            </div> -->


                
            <div class="itemsDisplay">
                <div class="listTitle">
                    Items in List:
                </div>
                <ul class="list-group">
                    <li *ngFor="let item of displayItems; let i = index" class="list-group-item" [ngClass]="listToDisplay.items[i].strikethru ? 'strikethru' : 'null'">
                    
                        <div class="row">
                            <!-- To make the actual item clickable and edited -->
                            <div class="col-5">
                                <div class="itemDisplayed" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)">{{item}}</div>
                            </div>

                            <div class="col-2">
                                <div class="faviconCrudBtns">
                                    
                                    <span *ngIf="!listToDisplay.items[i].strikethru" class="itemOptBtn" id="itemCrudBtn" ><i class="bi bi-square" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"></i></span>
                                    <span *ngIf="listToDisplay.items[i].strikethru" class="itemOptBtn" id="itemCrudBtn"><i class="bi bi-check2-square" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"></i></span>
                                    
                                    <!-- <span class="itemOptBtn" id="itemCrudBtn" ><i class="bi bi-check-lg" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"></i></span> -->
                                    <!-- <span class="itemCrudBtn" ><button (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"><i class="far fa-check-square fa-fw"></i></button></span> -->
                                    
                                    
                                    <!-- <span class="itemOptBtn" id="itemCrudBtn"><button data-bs-toggle="modal" data-bs-target="#editModal" (click)="editItemOn(listToDisplay.items[i].itemDescription)"><i class="bi bi-pencil" ></i></button></span>  (click)="editItem(listToDisplay.items[i].itemDescription)" -->
                                    <span class="itemOptBtn" id="itemCrudBtn"><i data-bs-toggle="modal" data-bs-target="#editModal" class="bi bi-pencil" (click)="editItemOn(listToDisplay.items[i].itemDescription)"></i></span>  <!-- (click)="editItem(listToDisplay.items[i].itemDescription)" -->

                                    <span class="itemOptBtn" id="itemCrudBtn"><i data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteItemOn(listToDisplay.id, listToDisplay.items[i].id, listToDisplay.items[i].itemDescription)" class="bi bi-trash"></i></span>
                                    <!-- <span class="itemCrudBtn"><button (click)="deleteItem(listToDisplay.id, listToDisplay.items[i].id)"><i class="far fa-trash-alt fa-fw"></i></button></span> -->
                                </div>
                            </div>
                        </div>
                       
                       
                       
                        <!-- NOT ngIf here for inEDit -->
                        <!-- <span id="itemInList" (click)="editItem(listToDisplay.id, listToDisplay.items[i].id, listToDisplay.items[i].itemDescription)">{{item}}</span>

                        <span class="faviconCrudBtns">
                            <span *ngIf="!listToDisplay.items[i].strikethru" class="itemOptBtn" id="itemCrudBtn" ><i class="bi bi-square" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"></i></span>
                            <span *ngIf="listToDisplay.items[i].strikethru" class="itemOptBtn" id="itemCrudBtn"><i class="bi bi-check2-square" (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"></i></span>
                            <span class="itemOptBtn" id="itemCrudBtn"><button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteItemOn(listToDisplay.id, listToDisplay.items[i].id, listToDisplay.items[i].itemDescription)"><i class="bi bi-trash"></i></button></span>
                            <span class="itemOptBtn" id="editItemBtn"><button data-bs-toggle="modal" data-bs-target="#editModal"><i class="bi bi-pencil" (click)="editItemOn(listToDisplay.items[i].itemDescription)"></i></button></span>  (click)="editItem(listToDisplay.items[i].itemDescription)" -->


                        <!-- <i class="bi bi-square"></i> -->
                        <!-- i class="bi bi-check-lg" -->
                            
                            <!-- <span class="itemCrudBtn" ><button (click)="strikethruItem(listToDisplay.id, listToDisplay.items[i].id)"><i class="far fa-check-square fa-fw"></i></button></span> -->
                            
                            <!-- <span class="itemCrudBtn"><button (click)="deleteItem(listToDisplay.id, listToDisplay.items[i].id)"><i class="far fa-trash-alt fa-fw"></i></button></span> -->
                            <!-- <span class="itemCrudBtn"><button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteItemOn(listToDisplay.id, listToDisplay.items[i].id, listToDisplay.items[i].itemDescription)"><i class="far fa-trash-alt fa-fw"></i></button></span> -->
                            
                            <!-- <span class="editItemBtn"><button (click)="editItem(listToDisplay.items[i].itemDescription)"><i class="fas fa-pencil-alt fa-fw"></i></button></span> -->
                            <!-- <span class="editItemBtn"><button><i class="fas fa-pencil-alt fa-fw"></i></button></span> -->

                            <!-- <span class="editItemBtn"><button data-bs-toggle="modal" data-bs-target="#editModal" (click)="editItem(listToDisplay.id, listToDisplay.items[i].id)"><i class="fas fa-pencil-alt"></i></button></span> -->
                        <!-- </span> -->
                    </li>
                </ul>
            </div>
          
    <!-- Modal for deleting items-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel"><strong>Warning!</strong></h5>
            <button *ngIf="deleteAllItems" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="deleteAllItemsOff()"></button>
            <button *ngIf="justDeleteItem" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="deleteItemOff()"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="deleteAllItems" class="mb-3">
                    You are about to clear all the items out of this list! Do you wish to proceed?
                </div>
                <div *ngIf="justDeleteItem" class="mb-3">
                    You are about to remove "{{itemDescriptionToDisplay}}"" out of the list! Do you wish to remove it?
                </div>
                <div *ngIf="deleteAllItems" class="modalBtns">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearItems(listToDisplay.id)">Clear List</button>
                    <span class="closeModalBtn"><button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button></span>
                </div>
                <div *ngIf="justDeleteItem" class="modalBtns">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteItem()">Remove</button>
                    <span class="closeModalBtn"><button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="deleteItemOff()">Cancel</button></span>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal for editing an item-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-danger" id="editModalLabel"><strong>Edit Item</strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="inEdit" class="mb-3">
                    <label for="newItemName" class="col-form-label">Edit:</label>
                    {{itemToEditDescription}}
                    <input type="text" class="form-control" id="newItemName">
                    <form [formGroup]="newItemForm" (ngSubmit)="editSubmit()">
                        <div class="inputForm">
                            <label for="newItem">List Item to Edit:</label>
                            Enter the Item to add to the Supply List:
                            
                            <input id="newItemName" formControlName="newItemName" type="text" class="form-control" placeholder="Item to Add" [ngClass]="{'is-invalid': form.newItemName.errors && (form.newItemName.touched || form.newItemName.dirty)}" >
                            <div *ngIf="form.newItemName.errors && (form.newItemName.touched || form.newItemName.dirty)" class="invalid-feedback">
                                <div *ngIf='form.newItemName.errors.required'>*An Item to Add is Required</div>
                            </div>
                            <input id="editItemName" formControlName="editItemName" type="text" class="form-control" [ngClass]="{'is-invalid': form.editItemName.errors && (form.editItemName.touched || form.editItemName.dirty)}" >
                            <div *ngIf="form.editItemName.errors && (form.editItemName.touched || form.editItemName.dirty)" class="invalid-feedback">
                                <div *ngIf='form.editItemName.errors.required'>*An Item is Required</div>
                            </div>
                            <div class="itemExists" *ngIf="itemExists">
                                *{{newItem}} already exists in your list.
                            </div>
                        </div>
                        <div class="addItemBtn">
                            <span><button type="submit" class="btn btn-success" data-bs-dismiss="modal">Edit Item</button></span>
                            <span class="closeEditBtn"><button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="closeEdit()">Cancel</button></span>
                        </div>
                    </form>

                </div>
                <div class="modalBtns">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Update</button>
                    <span class="closeModalBtn"><button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button></span>
                </div>
             </div>
        </div>
        </div>
    </div>


        </div>
    </div>
</ng-template>