<div class="d-flex" id="wrapper">

<!-- The sidebar -->
<div class="sidebar">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <!-- <th>{{user.firstName}}'s Lists</th> -->
                <th>User's Lists</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of userLists">
                <!-- <td><a [routerLink]="['/view-list', list.id]">{{list.listDescription}}</a></td> -->
                <td (click)="showNewList(list.id)">{{list.listDescription}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">

    <div class="title">
        <h2>
            {{listToDisplay.listDescription}}
        </h2>
    </div>

    <div class="itemsDisplay">
        <div class="listTitle">
            Items in List:
        </div>
        <ul class="list-group">
            <!-- <li *ngFor="let item of listItems" class="list-group-item">
                {{item.itemDescription}}
            </li> -->
            <li *ngFor="let item of testArray" class="list-group-item">
                {{item}}
            </li>
        </ul>
    </div>
</div>