 
 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: static;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 15%;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
*/

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/*@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* _____________________________________________ */
/* NON SIDEBAR ITEMS: */

.tableHeader{
  font-size: x-large;
  font-weight: bold;
}

#tableTitle{
  padding-top: 2.5%;
  font-size: x-large;
  font-weight: bold;
  padding-left: 5%;
}

#titleBreak{
  margin-left: auto;
  margin-right: auto;
  height: 2px;
}

.title{
  padding-top: 2%;
  font-size: larger;
}

#newListBtn{
  padding-top: 1%;
  padding-left: 15%;
}

#newListLabel{
  padding-left: 8%;
  font-size: larger;
  font-weight: bold;
}

#viewListLabel{
  font-size: large;
}

#sidebarToggleBtn{
  padding-left: 15%;
}

.bi-justify{
  font-size: 1.5rem;
}

/* .hr{
  max-width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.col-xs-auto{
  display: block;
  flex: 0 0 10%;
  max-width: 10%;
}

.col-auto{
  display: block;
  flex: 0 0 90%;
  max-width: 90%;
} */