<div class="container">
    <h2>Create a New List:</h2>

    <div class="form">
        <form [formGroup]="newListForm" (ngSubmit)="onSubmit()">
            <div class="title">
                <label for="listName">Enter the name or description of a new Supply List:</label>
                <input id="listName" formControlName="listName" type="listName" class="form-control" placeholder="Name or Description" [ngClass]="{'is-invalid': form.listName.errors && (form.listName.touched || form.listName.dirty)}" >
                <div *ngIf="form.listName.errors && (form.listName.touched || form.listName.dirty)" class="invalid-feedback">
                    <div *ngIf='form.listName.errors.required'>*Supply List Name is Required</div>
                </div>
            </div>
            <div class="createListBtn">
                <button type="submit" class="btn btn-success" (click)="submitListName()">Create List</button>
            </div>
        </form>
    </div>

    <div>
    {{listName}}
    </div>
    
</div>
